.cart-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.cart-modal__content {
    background-color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    border-top: 4px solid crimson;
}

.cart-modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: crimson;
    color: white;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.total-price {
    font-family: var(--barlow-font);
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
    text-align: right;
    border: 1px inset #ccc;
    max-width: 8rem;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: #eee;
}

.total-price__block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.cart-modal__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 0.2rem;
}

.order-btn {
    background-color: green;
    color: white;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 6em;
    display: flex;
    align-items: center;
}

.order-btn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.cart-item__inner{
    overflow: auto;
}

.cart-action__button button{
    font-family: var(--raleway-font);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.3;
    padding: 0.6em 1em;
}