.search-bar__section {
    padding-top: 60px;
}

.search-bar__inner-block {
    padding: 1.5rem 1rem;
    position: relative;
}

.search-bar__block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar__block input.search__Input {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 2px inset #aaa;
    font-size: 1.1rem;
    font-family: var(--raleway-font);
    font-weight: 600;

}

.search-bar__block button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.6rem 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: red;
    color: #fff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-family: var(--raleway-font);
    font-weight: 600;
}

.search-bar__button-block {
    position: absolute;
    top: 0;
    right: 0;
}

.glass-icon {
    font-size: 1.2rem;
}

.autocomplete-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-width: 92%;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.autocomplete-dropdown li {
    font-family: var(--raleway-font);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    list-style: none;
    padding: 0.3rem 0;
}

.autocomplete-suggestion {
    padding: 8px 12px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #f2f2f2;
}